/* h2 {
    color: pink;
}

p {
    color: aqua
} */
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* Content Delivery Network => CDN */
body {
    font-family: 'Style Script';
}

p {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Tajawal', sans-serif;
}

#first {
    color: red;
}

.second {
    color: blue;
}

h2 {
    color: yellow;
}