@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.page-header {
    background: #f7f7f7;
    padding: 20px;
}

.page-header a {
    color: #000;
    text-decoration: none;
}

.page-header span,
.page-header h1 {
    color: #fb4400;
}

.page-contet {
    padding: 80px 0;
}

.page-contet .item {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    width: 32%;
    margin-bottom: 2%;
}

.page-contet .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.page-contet .item .content {
    padding: 20px;
}

.page-contet .item .content h3 {
    margin-top: 0;
    color: #fb4400;
}

.page-contet .item .content a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: #fb4400;
    color: #fff;
    border-radius: 3px;
}

.page-contet .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer style */
footer {
    background: #303d47;
    color: #ffff;
    padding: 50px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.main-footer .footer1 {
    width: 28%;
}

.main-footer .footer2 {
    width: 48%;
}

.main-footer .footer3 {
    width: 18%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 5px 0;
    border-bottom: 1px solid #616c74;
}

footer ul li a {
    display: block;
    transition: all .3s ease;
}

footer ul li a:hover {
    color: #fb4400;
}

i {
    font-size: 30px;
}

.fa-facebook-square {
    color: #00f;
}

i:hover {
    color: #fb4400;
}