body {
    margin: 0;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items .item {
    background: #547aaa;
    width: 23%;
    height: 200px;
    margin: 1%;
}






/* Media For Mobile */
@media (max-width: 600px) {
    /* body {
        background: #f00;
        color: #fff;
    } */

    .items .item { 
        width: 98%;
    }
}

/* Media For Desktop */
@media (min-width: 1201px) {
    /* body {
        background: #000;
        color: #fff;
    } */
}

/* Media For Ipad */
@media (min-width: 601px) and (max-width: 1200px) {
    /* body {
        background: #00f;
        color: #fff;
    } */

    .items .item { 
        width: 48%;
    }
}