/* First Code */
body {
    margin: 0;
    height: 3000px;
    padding-top: 30px;
}

/* div {
    background: #000;
    color: #fff;
    position: fixed;
} */

/* New Code from another programmer */
/* .remove {
    position: static;
} */



header {
    background: #857;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
    z-index: 999999;
}

.top {
    background: #855741;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 20%;
}

.product {
    border: 1px solid #eee;
    width: 32%;
    position: relative;
}

img {
    width: 100%;
}

.content {
    padding: 20px;
    padding-top: 0;
}

.product a {
    background: #fb4400;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

.price {
    background: rgba(255, 0, 0 , 0.5);
    color: #fff;
    position: absolute;
    right: -10px;
    top: 20px;
    padding: 0 15px;
    /* display: none; */
}

.cats {
    display: flex;
    justify-content: space-between;
}
/* .product:hover .price {
    display: block;
} */

.container {
    width: 80%;
    margin: 0 auto;
}
